button {
    background-color: #e77172;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #fff;
    margin-left: 20px;
    cursor: pointer;
}

button:hover {
    color: #e77172;
    background-color: #fff;
}


body {
    background-color: rgba(231, 113, 114, 255);
}

h1 {
    font-family: sans-serif;
    color: #fff;
}

div {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    justify-content: center;
}

img {
    height: 500px;
}